{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
	<div class="login-form">
		<div class="img-form">
			<img src="{% static 'img/komestra.png '%}" alt="">
		</div>
		<form action="{% url 'login' %}" method="post" class="form">
			{% csrf_token %}
			<div class="login-input">
				<input type="text" name='username' class="login" placeholder="Имя пользователя">
			</div>
			<div class="pass-input">
				<input type="password" name='password' class="pass" placeholder="Пароль">
			</div>
			<div class="btn-form">
				<input type="submit" class="but-login" value="Войти">
				<input type="hidden" name="next" value="{{ next }}">
			</div>
		</form>
	</div>
</body>
</html>