@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: Monseratt;
  /* Имя шрифта */
  src: url("../fonts/Montserrat-Light.ttf");
  /* Путь к файлу со шрифтом */
}
body {
  background: #8CCD90;
}

.login-form {
  background: white;
  border-radius: 10px;
  position: absolute;
  top: 15%;
  left: 30%;
  padding: 40px 20px;
}

input {
  font-family: Monseratt;
  border-bottom: 1px solid #525452;
  width: 60%;
}

.form {
  position: relative;
  left: 20%;
  padding: 30px 0;
}

.login-input {
  margin: 30px 0;
}

.btn-form {
  margin: 30px 0;
}

.but-login {
  padding: 10px;
  border-radius: 10px;
  background: #269926;
  transition: 0.5s;
  font-family: Monseratt;
  color: white;
  font-size: 20px;
}
.but-login:hover {
  box-shadow: 0 0 15px #187A2E;
}
.but-login:active {
  background: #78DE8E;
}